body {
    background: #eee;
}

.wrapper {
    background: #fff;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

wrapper:after {
    content: "";
    display: block;
    clear: both;
}

.service h2,
.service p {
    color: #999;
    margin: 10px 0;
    text-align: center;
}

.service {
    float: left;
    background: #eee;
    width: 29.33%;
    padding: 1%;
    margin: 1%;
    height: 140px;
}

.service:after {
    content: "";
    display: block;
    clear: both;
}

.content {
    padding: 10px;
    background: #eee;
    clear: both;
    margin-top: 20px 1%
}

.content p {
    -webkit-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 30px;
    column-gap: 30px;
    -webkit-column-rule: 1px solid black;
    column-rule: 1px solid black;
    text-align: justify
}

section,
aside {
    float: left;
    width: 46%;
    padding: 1%;
    margin: 1%;
}

.columns:after {
    display: block;
    content: "";
    clear: both;
}

#banner {
    max-height: 300px;
    overflow: hidden;
    margin: 1%;
    position: relative;
}

#banner h2 {
    position: absolute;
    top: 30px;
    margin: 0;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 48px
}

nav {
    background: #4B4848;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

nav ul:after {
    display: block;
    content: "";
    clear: both;
}

nav li {
    list-style-type: none;
    margin: 0 10px;
    color: #fff;
    float: right;
}

@media screen and (max-width:720px) {
    .service {
        width: 46%;
        padding: 1%;
        margin: 1%;
        position: relative;
    }
    .service:last-child {
        left: 25%
    }
    #banner h2 {
        font-size: 24px
    }
}

@media screen and (max-width:480px) {
    .service {
        width: 96%;
        padding: 1%;
        margin: 1%;
    }
    .service:last-child {
        left: 0;
    }
    section,
    aside {
        float: left;
        width: 96%;
        padding: 1%;
        margin: 1%;
    }
}